/* ------------------------------------------------------- */
/* Main container */
.container {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 8rem;
}
/* ------------------------------------------------------- */
/* Banner container */
.banner-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 1.5rem;
}

.desktop-image {
  width: 100%;
}
.main-text-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-tittle {
  padding: 0.1rem;
  font-size: 4rem;
}

.smallbox-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5rem;
  gap: 2rem;
}

.smallbox-text p {
  align-self: center;
  line-height: -1.5;
  color: var(--color-Dark-grayish-blue);
}

.button-read {
  width: 15em;
  font-size: 12px;
  padding: 1.5em;
  background-color: var(--color-Soft-red);
  color: white;
  letter-spacing: 5px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.button-read:hover {
  background-color: black;
}

/* ------------------------------------------------------- */
/* New container */

.new-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--color-Very-dark-blue);
  color: white;
  align-items: left;
}

.intro-text-new {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-container h2 {
  color: var(--color-Soft-orange);
}

.new-container p {
  font-size: 15px;
  align-self: center;
  color: var(--color-Dark-grayish-blue);
}

.new-container hr {
  color: var(--color-Dark-grayish-blue);
  margin: 1.5rem;
  border-bottom: 5px;
  width: 90%;
  align-self: center;
}
/* ------------------------------------------------------- */
/* Post container */

.post-container {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.8em;
  flex-direction: row;
  margin: 0.2rem 8rem;
  height: 40%;
}

.set-post {
  display: flex;
  flex-direction: row;
  max-width: 24rem;
}

.set-post img {
  max-height: 50%;
  align-self: center;
  padding-right: 2em;
}
.textbox-post {
  align-self: center;
  line-height: 10px;
}

.textbox-post h2 {
  color: var(--color-Grayish-blue);
}

.textbox-post h3 {
  color: var(--color-Very-dark-blue);
  font-weight: 900;
  cursor: pointer;
}

/* States */
.textbox-post h3:hover {
  color: var(--color-Soft-red);
}

.textbox-post p {
  color: var(--color-Dark-grayish-blue);
}

/* CSS Responsive */
@media screen and (max-width: 500px) {
  .container {
    margin: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .banner-container {
    padding: 0;
  }
  .banner-tittle {
    /* padding: 0.1rem; */
    font-size: 2rem;
    padding-right: 2rem;
  }
  .desktop-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .main-text-container {
    display: flex;
    flex-direction: column;
    align-self: left;
  }

  .post-container {
    margin: 1em;
    justify-content: center;
  }
}
