/* Navbar container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 1440px;
  margin: 5rem 8rem 2rem;
}

/* Nav menu */

.navmenu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navmenu a {
  display: block;
  padding: 1em;
  color: var(--color-Dark-grayish-blue);
  text-decoration: none;
  cursor: pointer;
}
.navmenu a:hover {
  color: var(--color-Soft-red);
  /* transition: color 0.5s; */
}

.logo {
  align-self: flex-start;
}

/* .hamburger-menu {
  color: inherit;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 80ms linear;
  display: none;
  opacity: 0;
}

.hamburger-menu:hover {
  background-color: gray;
} */
.hamburger span {
  display: block;
  width: 35px;
  height: 3px;
  margin: 6px auto;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}
/* CSS Responsive */

@media screen and (min-width: 500px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .hamburger-menu {
    display: block;
  }
  .navmenu {
    /* position: absolute;
    display: flex;
    top: 50px;
    left: 0;
    flex-direction: column; */
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navmenu li {
    margin: 10px 0;
  }

  .navmenu.open {
    display: block; /* Show the menu when open */
  }
}
