/* Navbar container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1440px;
  margin: 5rem 8rem 2rem;
}

/* Nav menu */

.navmenu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navmenu a {
  display: block;
  padding: 1em;
  color: var(--color-Dark-grayish-blue);
  text-decoration: none;
  cursor: pointer;
  visibility: visible;
}
.navmenu a:hover {
  color: var(--color-Soft-red);
  /* transition: color 0.5s; */
}

.close-menu {
  width: 0%;
  visibility: hidden;
}

.close-menu > h3 {
  text-align: right;
  font-weight: 400;
  font-size: 2.5em;
  margin: 0.5em;
}

.buttonmenu {
  visibility: hidden;
}
/* CSS Responsive */

@media screen and (max-width: 600px) {
  .buttonmenu {
    visibility: visible;
  }
  .close-menu {
    width: 100%;
    visibility: inherit;
  }

  .navmenu {
    position: fixed;
    width: 60dvw;
    height: 100dvh;
    top: 0;
    right: 0;
    flex-direction: column;
    z-index: 10;
    list-style: none;
    border: red solid;
    margin-top: 0;
    visibility: hidden;
    background-color: var(--color-off-white);
  }

  .navbar-container {
    position: relative;
    margin: 1em;
  }

  .navmenu li a {
    margin: 10px 0;
    visibility: inherit;
  }

  .navmenu.open {
    display: block; /* Show the menu when open */
  }
}
