:root {
  /* Colors */
  /* Secondary Colors */
  --color-Soft-orange: hsl(35, 77%, 62%);
  --color-Soft-red: hsl(5, 85%, 63%);
  /* Primary Colors */
  -color-off-white: hsl(36, 100%, 99%);
  --Color-Grayish-blue: hsl(233, 8%, 79%);
  --Color-Dark-grayish-blue: hsl(236, 13%, 42%);
  --color-Very-dark-blue: hsl(240, 100%, 5%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(-color-off-white);
}

h1 {
  font-weight: 800;
}
