:root {
  /* Colors */
  /* Secondary Colors */
  --color-Soft-orange: hsl(35, 77%, 62%);
  --color-Soft-red: hsl(5, 85%, 63%);
  /* Primary Colors */
  -color-off-white: hsl(36, 100%, 99%);
  --color-Grayish-blue: hsl(233, 8%, 79%);
  --color-Dark-grayish-blue: hsl(236, 13%, 42%);
  --color-Very-dark-blue: hsl(240, 100%, 5%);

  --ff-regular: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: hsl(36, 100%, 99%);
  align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}
p {
  line-height: 1.5;
  font-size: 14px;
}
